.page {
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2A2C2F;
  color: #fff;
}