@media screen and (max-width: 767px) and (min-width: 425px) {
  .footer__list_type {
    margin-bottom: 28px;
  }
  .footer__list_type:last-child {
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 424px) and (min-width: 320px) {
  .footer__list_type {
    margin-bottom: 32px;
  }
  .footer__list_type:last-child {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .footer__list_type {
    margin-bottom: 32px;
  }
  .footer__list_type:last-child {
    margin-bottom: 48px;
  }
}