.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  .place {    
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {    
    grid-template-columns: 340px 352px;
    gap: 48px 24px;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) and (min-width: 426px) {
  .place {    
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 425px) and (min-width: 321px) {
  .place {    
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .place {    
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    gap: 0;
  }
}