@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__image-box/lead__image-box.css");
@import url("./__image/lead__image.css");
@import url("./__caption/lead__caption.css");

.lead {
  max-width: 984px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin: 0 auto 92px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    margin-bottom: 64px;
  }
}