.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 32px;
  padding: 0;
}
@media screen and (max-width: 767px) and (min-width: 424px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }
}

@media screen and (max-width: 423px) and (min-width: 321px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 auto 16px;
  }
}