@import url(./__text/cover__text.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__background/cover__background.css);

.cover {
  max-width: 1184px;
  margin: 0 auto 92px;  
  display: flex;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 0 0 64px;
  }
}