@import url("./__link/footer__link.css");
@import url("./__list/footer__list.css");
@import url("./__list-item/footer__list-item.css");
@import url("./__copyright/footer__copyright.css");

.footer {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

@media screen and (max-width: 1280px) {
  .footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 0 24px;
    padding: 0;
  }
}

@media screen and (max-width: 767px){
  .footer {
    margin: 0 auto 0 16px;
    flex-direction: column;
    padding-bottom: 24px;
  }
} 